.commentTitle {
  padding: 1rem 0;
  font-size: 1.4rem;
  line-height: 1em;
  font-weight: 500;
  border-bottom: 1px solid #efefef;
}

.noReply {
  padding: 1.5rem 0;
  font-size: 2rem;
  line-height: 1em;
  font-weight: 600;
  color: #999;
}

@media (min-width: 1200px) {
  .comments {
    padding: 1.5rem 2rem;
  }
}
