.videoCard {
  display: flex;
  width: 100%;
  margin: 0.7rem 0.5rem;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid #efefef;
  border-radius: 3px;
  overflow: hidden;
  transition: 0.3s ease-out;
  cursor: pointer;
}
.videoCard:hover {
  transform: scale(1.02);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
}
.thumbnailImg {
  width: 43%;
}
.descriptions {
  width: calc(100% - 43%);
  padding: 0 1rem;
}
.videoTitle {
  display: -webkit-box;
  margin: 0 0 12px;
  font-size: 1.2rem;
  line-height: 1.3em;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
}
.channelName {
  font-size: 13px;
  color: #777;
}

@media (min-width: 768px) {
  .videoCard {
    width: calc(50% - 1rem);
  }
}
