.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 1rem;
}

.mainVideoList {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .content {
    display: flex;
    flex-direction: row;
    padding: 0 0.5rem;
  }
  .videoDetail {
    flex: 1 1 70%;
  }
  .mainVideoList {
    flex: 1 1 30%;
  }
}
