.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mainVideoList {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 786px) {
  .mainVideoList {
    max-width: 80vw;
  }
}

@media (min-width: 1200px) {
  .content {
    display: flex;
    flex-direction: row;
  }
  .videoDetail {
    flex: 1 1 70%;
  }
  .mainVideoList {
    flex: 1 1 30%;
  }
}
